@using SimpleAd_withAuth.data
@model AccountViewModel

<div class="row">
    <div class="col-md-6">
        <h3>Name: @Model.Lister.Name</h3>
        <h3>Email Address: @Model.Lister.Email</h3>
    </div>
    <div class="col-md-6 offset-md-3">
        @foreach (Ad ad in Model.AllAds)
        {
            @if (ad.Delete)
            {
                <div class="bg-light rounded-3 p-5 mt-3">

                    <h5>Listed by @ad.Name</h5>
                    <h5>Listed on @ad.ListingDate.ToLongDateString()</h5>
                    <h5>Phone Number: @ad.PhoneNumber</h5>
                    <h3>Details:</h3>
                    <p>@ad.Listing</p>


                    <form method="post" action="/home/deletead">
                        <input type="hidden" name="id" value="@ad.Id" />
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
            }
        }

    </div>
</div>
